body{
  margin: 0;
  font-family: 'Roboto', sans-serif;

  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

/* Container */

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}



/* Intro */

.introBackGroundColor{
    width: 100%;
    height: 90vh;
    background-color: #3942C3;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: auto;
  height: 101%;

  background: url("/Users/daniil/Documents/GitHub/3Tone/Assets/images/circles_1.2.svg") right no-repeat;
  /* background-size: cover; */
}

.intro_inner{
  width: 100%;
  max-width: 1100px ;
  margin: 0 auto;
  text-align: left;
}

.intro_tittle{
  font-size: 56px;
  font-weight: 600;
}

.intro_post_tittle{
  font-size: 36px;
  font-weight: 400;
}




/* header */
.header{
  padding-top: 30px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Левая часть шапки */
.left_header{
  display: flex;
  justify-content:left;
  align-items: center;
}
/* logo */
.logoIndex{
  width: 25vh;
}

/* sign_in */
.sign_in{
  margin-left: 15px;
  
  text-transform: uppercase;
}




/* Правая часть шапки */
 /* nav */
.nav{
  text-transform: uppercase;
}

.nav_link{
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;

  color: white;
  text-decoration: none;
  transition: color 0.1s linear;
}

.nav_link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: gray;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav_link:hover{
  color: gray;
}

.nav_link:hover:after{
  opacity: 1;
}

/* Button */
.btn{
  margin: 10px 0px;
  display: inline-block;
  vertical-align: top;
  padding: 4px 65px;

  background-color: #00BE41;
  border: 2px solid #00BE41;
  border-radius: 20px;

  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 46px;
}

.btn:hover{
  /* border: 10px solid blueviolet; */
  background-color: transparent;
  color: black;
}

/* Ad */
.ad{
  background-color: #000D84;
  width: 100%;
  height: 10vh;
  /* background: url("/Users/daniil/Documents/GitHub/3Tone/Assets/images/tekstur.png") right bottom no-repeat; */
}

.tekstura{

  display: flex;
  flex-direction: column;
  justify-content: right;

  width: 100%;
  height: 100%;

  background: url("/Users/daniil/Documents/GitHub/3Tone/Assets/images/tekstur.svg") right bottom no-repeat;
}

.ad_content{
  /* display: flex;
  flex-direction: column;
  justify-content: left;

  width: 100%;
  max-width: 1100px;
  
  margin: 20px auto;
  text-align: left; */

  display: flex;
  align-items: center;
  /* justify-content: left; */

  width: auto;
  max-width: 1100px;
  height: 100%;

}

.ad_text{

}

.color_word{
  color: rgb(228, 117, 113);
}