body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  
    font-size: 20px;
    line-height: 1.6;
    color: #FFFFFF;
  }
  
  *,
  *:before,
  *:after{
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }

  /* container */
  .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* header */

  .header{
    background-color: #27329F;
    padding-top: 15px;
    width: 100%;
  
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 1000; */
  }

  .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Левая часть шапки */
.left_header{
  display: flex;
  justify-content:left;
  align-items: center;
}
/* logo */
.logoIndex{
  width: 169px;
}

/* sign_in */

.sig_in_logo{
  margin-left: 10px;
  width: 45px;
}

/* Правая часть шапки */
 /* nav */
 .nav{
  text-transform: uppercase;
}

.nav_link{
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;

  color: white;
  text-decoration: none;
  transition: color 0.1s linear;
}

.nav_link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: gray;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav_link:hover{
  color: gray;
}

.nav_link:hover:after{
  opacity: 1;
}


/* intro */

.introBackGroundColor{
  margin: 0;
  width: 100%;
  height: 80vh;
  background-color: #434BC5;
}

.intro{
  width: auto;
  margin: 0 auto;
  height: 100%;
  background: url("/Users/daniil/Documents/GitHub/3Tone/Assets/images/courses_page/image_intro.png") no-repeat;
  background-size:cover;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome_block{
  position: absolute;
  width: 100%;
  max-width: 900px;
  height: auto;
  max-height: 30vh;
  background-color: rgba(0, 39, 175, 0.7);
  margin: 100px auto;

  display: flex;
  flex-direction: column;
}

.welcome_angle{
  justify-content: left;
  margin-top: 5px;
  margin-left: 5px;
  width: auto;
  height: 30px;
}

.welcome_head{
  width: auto;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: 600;
}

.welcome_text{
  width: auto;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  font-size: 26px;
  font-weight: 500;
}

.orange_color_text{
  color: #F36D6D;
}

.welcome_cube{
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* tekstura */

.blok_for_teksure{
  /* margin: 0; */
  position: relative;
  background-color: white;
  width: 100%;
  height: 15vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
}


/* head_of_beginning */

.head_of_beginning{
  width: auto;
  height: 100%;

  margin: auto 0px;
  background: url("/Users/daniil/Documents/GitHub/3Tone/Assets/images/courses_page/teksture.svg") repeat-x;
  opacity: 0.2;
  
  width: auto;
  z-index: 1000;
}

.line_block{
  
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.line:before,
.line:after {
 content: '';
 display: inline-block;
 width: 100%;
 height: 1px;
 background: #000;
 z-index: -1;
 position: relative;
 vertical-align: middle;
}

.line:before {
  right: 15px;
  margin: -1% 0 0 -100%;
 }
 .line:after {
  left: 15px;
  margin: -1% -100% 0 0;
 }

 .btn_line_block{
  /* margin: 10px 0px; */
  display: inline-block;
  /* vertical-align: top; */
  padding: 30px 60px;

  background-color: #F36D6D;
  border-radius: 10px;

  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 600;
 }


 /* ---------------------------------------------------------------------------------------- */
 /* ----------------------container_courses---------------------- */

 .container_courses{
   margin: 30px auto;

   height: auto;
   width: 100%;
   max-width: 1350px;
   background-color: white;

   display: flex;
   flex-direction: column;
 }

 .direction_of_course_left{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin: 0;
 }

 .direction_of_course_right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

/* ----------------------course_basics---------------------- */
 .course_basics{
   margin: 80px 0 0 0;
   width: 130vh;
   height: auto;
   background-color: #FDFF87;

   display: flex;
   flex-direction: column;
 }

.text_of_course{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.tittle_of_course{
  margin-left: 40px;
  margin-top: 20px;
}

.first_tittle{
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  height: 48px;
}

.second_tittle{
  font-size: 24px;
  font-weight: 500;
}

.description_of_course{
  font-size: 20px;
  font-weight: 600;
  margin-right: 40px;
  margin-top: 20px;
  width: 100px;
}

.courese_content{
  display: flex;
  flex-direction: row;

  background-color: rgba(0, 0, 0, 0.2);

  margin: 10px;
  margin-top: 90px;
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.photo_course_content{
  margin: 10px 0 10px 0;
}

.photo_course{
  margin-left: 15px;
}

.button_to_start{
  margin: auto 15px 0 0;
  display: inline-block;
  vertical-align: top;
  padding: 4px 55px;

  background-color: #00BE41;
  border: 2px solid #00BE41;
  border-radius: 20px;

  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 36px;
}


/* ----------------------course_course_advanced---------------------- */

.course_advanced{
  margin: 80px 0 0 0;
  width: 130vh;
  height: auto;
  background-color: #6FE564;

  display: flex;
  flex-direction: column;
}

/* footer */

 .footer{
  width: 100%;
  background-color: #ECECEC;
  color: #939393;
}

.footer_block{
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0  auto;
  padding-top: 30px;
  height: 100%;
  /* margin-left: 100px; */
  padding-bottom: 30px;
}

.footer_block_row{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin: auto;
  padding-bottom: 40px;
}

.footer_block_column{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 0 auto;
}

.caption{
  color: #555454;
  /* font-weight: 600; */
  margin: 15px 0;
}

.footer_text{
  margin: 5px 0;
}

.avtor_signature{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
}

